{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if proyect_form.errors %}
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            {% for field in proyect_form %}
            {% if field.errors %}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {%  trans field.name %}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
{% endif %}

{% if application_form.errors %}
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            {% for field in application_form %}
            {% if field.errors %}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {%  trans field.name %}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
{% endif %}

<div class="bs-docs-section">

  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'new_step2' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>{{ _('new_proyect') }}</legend>
            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('name') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="name"
                       id="name" value="{{ proyect_form.name.value|default:'' }}"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('secretariat') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="secretariat"
                       placeholder="DIPT"
                       id="secretariat" value="{{ proyect_form.secretariat.value|default:'' }}"/>
              </div>
            </div>
            
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">{{ _('description') }}</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="description"
                          id="description">{{ proyect_form.description.value|default:'' }}</textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="observations" class="col-sm-2 control-label">
                {{ _('requires_integration') }}
              </label>
              <div class="col-sm-1">
                <input type="checkbox" name='requires_integration' class="form-control"
                       placeholder='' 
                       {% if application_form.requires_integration.value %}checked{%endif%} />
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('db_name') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="db_name"
                       placeholder="proyecto_db"
                       id="" value="{{ application_form.db_name.value|default:'' }}" />
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _('encoding') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="encoding"
                       placeholder="UTF8"
                       id="" value="{{ application_form.encoding.value|default:'' }}" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('user_owner') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="user_owner"
                       placeholder="proyecto_owner"
                       id="" value="{{ application_form.user_owner.value|default:'' }}" />
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _('user_access') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="user_access"
                       placeholder="proyecto_user"
                       id="" value="{{ application_form.user_access.value|default:'' }}" />
              </div>
            </div>


            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('extra_database_users') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="extra_database_users"
                       id="extra_database_users" placeholder="usuario1, usuario2 ,..usuarioN"
                       value="{{ application_form.extra_database_users.value|default:'' }}"
                       title="{{ _('extra_database_users_title') }}"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('ssh_users') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="ssh_users"
                       placeholder="usuario1, usuario2 ,..usuarioN"
                       value="{{request.user.username }}"
                       id="ssh_users" value="{{ application_form.ssh_users.value|default:'' }}"
                       title="{{ _('ssh_users_title') }}"/>
              </div>
            </div>



            <div class="form-group">
              <label for="observations" class="col-sm-2 control-label">{{ _('logs_visualization') }}</label>
              <div class="col-sm-4">
                <select class="form-control" id="select" name="logs_visualization">
                {% for logv in logs_visualization %}
                <option value='{{ logv.0 }}' {% if logv.0 == application_form.logs_visualization %}selected{%endif%}>
                                    {{ logv.1 }}{{i}}</option>
                {% endfor %}
                </select>
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _('logs_users') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="logs_users"
                       placeholder="usuario1, usuario2 ,..usuarioN"
                       id="logs_users" value="{{ application_form.logs_users.value|default:'' }}"
                       title="{{ _('logs_users_title') }}"/>
              </div>
            </div>
	    
            <div class="form-group">
              <label for="observations" class="col-sm-2 control-label">{{ _('observations') }}</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="observations"
                          id="observations">{{ application_form.observations.value|default:'' }}</textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary" >{{ _('next') }}</button>
              </div>
            </div>
            
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
