{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if sources_form.errors %}
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            {% for field in sources_form %}
            {% if field.errors %}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {%  trans field.name %}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
{% endif %}

{% if targets_form.errors %}
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            {% for field in targets_form %}
            {% if field.errors %}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {%  trans field.name %}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
{% endif %}

<div class="bs-docs-section">

  <br>
  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'new_step4' %}" method="post">
          {% csrf_token %}
          <input type='hidden' name="id" value="" />
          <fieldset>
            <legend>{{ _('new_proyect') }} '{{ proyect_name|default:''  }}'</legend>

            
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#home" data-toggle="tab">{{_('connection_sources')}}</a>
                </li>
                <li><a href="#profile" data-toggle="tab">{{_('connection_targets')}}</a></li>
              </ul>

              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">

                  <div class="row clearfix">
	            <div class="col-md-12 column">
                      <div class="panel-body">
		        <table class="table table-bordered table-hover" id="tab_logic" style="text-align:center">
		          <thead>
		            <tr ><th class="text-center">{{_('name')}}</th>
		            <th class="text-center">{{_('ip_address')}}</th>
                            <th class="text-center">{{_('username')}}</th>
                            <th class="text-center">{{_('service')}}</th>
		            <th class="text-center">{{_('observations')}}</th>
		            <th class="text-center"></th>
		            </tr>
		          </thead>
		          <tbody>
                          {% if sources_computer %}
                          {% for soft in sources_computer %}
		            <tr id='addr{{forloop.counter0}}'>
		              <td data-name="sources_name" >
			        <input type="text" name='sources_name[]' value="{{soft.name}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_ip">
			        <input type="text" name='sources_ip[]' value="{{soft.ip}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_username">
			        <input type="text" name='sources_username[]' value="{{soft.username}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_service">
			        <input type="text" name='sources_service[]' value="{{soft.service}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_observation">
			        <input type="text" name='sources_observation[]' value="{{soft.observation}}"
                                       placeholder='' class="form-control"/>
		              </td>
                              <td data-name="delete" style="width:5%;text-align:center">
                                <a href="#" id='delete_row'>
                                <i class="glyphicon glyphicon-remove" style="top:10px;"></i></a>
                              </td>
		            </tr>
                            {% endfor %}
                          {% else %}
		            <tr id='addr0'>
		              <td data-name="sources_name" >
			        <input type="text" name='sources_name[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_ip">
			        <input type="text" name='sources_ip[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_username">
			        <input type="text" name='sources_username[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_service">
			        <input type="text" name='sources_service[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td data-name="sources_observation">
			        <input type="text" name='sources_observation[]'
                                       placeholder='' class="form-control"/>
		              </td>
                              <td data-name="delete" style="width:5%;text-align:center">
                                <a href="#" id='delete_row'>
                                <i class="glyphicon glyphicon-remove" style="top:10px;"></i></a>
                              </td>
		            </tr>
                          {% endif %}
		          </tbody>
		        </table>
                        <table class="table table-bordered table-hover">
                          <tr>
                            <td></td>
                            <td style="width:5%;text-align:center">
                              <a href="#" id="add_row" ><i class=" glyphicon glyphicon-plus-sign"></i></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
	          </div>

                </div>

                <div class="tab-pane fade" id="profile">

                  <div class="row clearfix">
	            <div class="col-md-12 column">
                      <div class="panel-body">
		        <table class="table table-bordered table-hover" id="tab_logics" style="text-align:center">
		          <thead>
		            <tr ><th class="text-center">{{_('name')}}</th>
		            <th class="text-center">{{_('ip_address')}}</th>
                            <th class="text-center">{{_('username')}}</th>
                            <th class="text-center">{{_('service')}}</th>
		            <th class="text-center">{{_('observations')}}</th>
		            <th class="text-center"></th>
		            </tr>
		          </thead>
		          <tbody>
                          {% if targets_computer %}
                          {% for soft in targets_computer %}
		            <tr id='addr{{forloop.counter0}}'>
		              <td data-name="targets_name" >
			        <input type="text" name='targets_name[]' value="{{soft.name}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_ip">
			        <input type="text" name='targets_ip[]' value="{{soft.ip}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_username">
			        <input type="text" name='targets_username[]' value="{{soft.username}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_service">
			        <input type="text" name='targets_service[]' value="{{soft.service}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_observation">
			        <input type="text" name='targets_observation[]' value="{{soft.observation}}"
                                       placeholder='' class="form-control"/>
		              </td>
                              <td data-name="delete" style="width:5%;text-align:center">
                                <a href="#" id='delete_rows' name="delete[]">
                                <i class="glyphicon glyphicon-remove" style="top:10px;"></i></a>
                              </td>
		            </tr>
                            {% endfor %}
                          {% else %}
		            <tr id='addsr0'>
		              <td data-name="targets_name" >
			        <input type="text" name='targets_name[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_ip">
			        <input type="text" name='targets_ip[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_username">
			        <input type="text" name='targets_username[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_service">
			        <input type="text" name='targets_service[]'
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="targets_observation">
			        <input type="text" name='targets_observation[]'
                                       placeholder='' class="form-control"/>
		              </td>
                              <td data-name="delete" style="width:5%;text-align:center">
                                <a href="#" id='delete_rows' name="delete[]">
                                <i class="glyphicon glyphicon-remove" style="top:10px;"></i></a>
                              </td>
		            </tr>
                          {% endif %}
		          </tbody>
		        </table>
                        <table class="table table-bordered table-hover">
                          <tr><td></td>
                            <td  style="width:5%;text-align:center">
                            <a href="#" id="add_row1" ><i class=" glyphicon glyphicon-plus-sign"></i></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
	          </div>
                  
                </div>

              </div>

            </div>


            
            <div class="form-group">
              <div class="col-sm-10">
                <button type="reset" class="btn btn-default col-sm-offset-1" 
                        onClick="history.go(-1);return true;">{{_('previous')}}</button>
                <button type="submit" class="btn btn-primary col-sm-offset-2">{{_('next')}}</button>
              </div>
            </div>
            
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
