{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if form.errors %}
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {%  trans field.name %}: {{ field.errors|striptags }}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
{% endif %}

<div class="bs-docs-section">

<br>
  <div class="row">
    <div class="col-lg-12">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'new_step5' %}" method="post">
          {% csrf_token %}
          <input type='hidden' name="id" value="" />
          <fieldset>
            <legend>{{ _('new_proyect') }} '{{ proyect_name|default:''  }}'</legend>

            
            <div class="bs-component">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">{{_('scv_permissions')}}</a></li>
              </ul>

              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">

                  <div class="row clearfix">
	            <div class="col-md-12 column">
                      <div class="panel-body">
	                <table class="table table-bordered table-hover" id="tab_logic" style="text-align:center">
	                  <thead>
		            <tr >
                              <th class="text-center">{{_('user')}}</th>
		              <th class="text-center">{{_('permission')}}</th>
		              <th class="text-center"></th>
		            </tr>
	                  </thead>
	                  <tbody>
                          {% if permissions_list %}
                          {% for permission in permissions_list %}
		            <tr id='addr{{forloop.counter0}}'>
		              <td data-name="usernames" >
		                <input type="text" name='usernames[]' value="{{permission.user}}"
                                       placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="permissions">
                                <select class="form-control" id="select" name='permissions[]'>
                                  <option value='0'>{{_('select_an_option')}}</option>
                                  {% for p in permissions_options %}
                                    <option value='{{ p.0 }}' {% if p.0 == permission.permission %}selected{%endif%}>
                                    {{ p.1 }}{{i}}</option>
                                  {% endfor%}
                                </select>
		              </td>
                              <td data-name="delete" style="width:5%;text-align:center">
                                <a href="#" id='delete_row'>
                                <i class="glyphicon glyphicon-remove" style="top:10px;"></i></a>
                              </td>
		            </tr>
                          {% endfor %}
                          {% else %}
		            <tr id='addr0'>
		              <td data-name="usernames" >
		                <input type="text" name='usernames[]'  placeholder='' class="form-control"/>
		              </td>
		              <td  data-name="permissions">
                                <select class="form-control" id="select" name='permissions[]' >
                                  <option value=''>{{_('select_an_option')}}</option>
                                  {% for p in permissions_options %}
                                    <option value='{{ p.0 }}'>{{ p.1 }}{{i}}</option>
                                  {% endfor%}
                                </select>
		              </td>
                              <td data-name="delete" style="width:5%;text-align:center">
                                <a href="#" id='delete_row'>
                                <i class="glyphicon glyphicon-remove" style="top:10px;"></i></a>
                              </td>
		            </tr>
                          {% endif %}
	                  </tbody>
	                </table>
                        <table class="table table-bordered table-hover">
                          <tr><td></td>
                            <td style="width:5%;text-align:center">
                            <a href="#" id="add_row" ><i class=" glyphicon glyphicon-plus-sign"></i></a>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              
            </div>
            
        
            <div class="form-group">
              <div class="col-sm-10">
                <button type="reset" class="btn btn-default col-sm-offset-1" style="margin-left: 15px;"
                        onClick="history.go(-1);return true;">{{_('previous')}}</button>
                <button type="submit" class="btn btn-primary col-sm-offset-2">{{_('next')}}</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
