{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  {% for errors in form.errors %}
  <p>{{ errors }}</p>
  {% endfor %}
{% endif %}

<div class="bs-docs-section">

  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'new_step2' %}" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>{{ _('new_proyect') }}</legend>
            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('name') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="name"
                       id="name" value=""/>
              </div>
            </div>

            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">{{ _('description') }}</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="description"
                          id="description"></textarea>
              </div>
            </div>

            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('db_name') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="db_name"
                       id="" value="" />
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _('encoding') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="encoding"
g                       id="" value="" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">{{ _('user_owner') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="user_owner"
                       id="" value="" />
              </div>
              <label class="col-sm-2 control-label" for="textinput">{{ _('user_access') }}</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="user_access"
                       id="" value="" />
              </div>
            </div>

	    
            <div class="form-group">
              <label for="observations" class="col-sm-2 control-label">{{ _('observations') }}</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="observations"
                          id="observations"></textarea>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">{{ _('next') }}</button>
              </div>
            </div>
            
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
