{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  {% for errors in form.errors %}
  <p>{{ errors }}</p>
  {% endfor %}
{% endif %}

<div class="bs-docs-section">

  <br>
  <div class="row">
    <div class="col-lg-6">
      <div class="well bs-component">
        <form class="form-horizontal" action="{% url 'new_step2' %}" method="post">
          {% csrf_token %}
          <input type='hidden' name="id" value="" />
          <fieldset>
            <legend>Nombre de proyecto</legend>

            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Proyecto</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name="proyecto"
                       id="proyecto" value=""/>
              </div>
            </div>


            <div class="form-group">
              <label for="descripcion" class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="descripcion"
                          id="descripcion"></textarea>
              </div>
            </div>

            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Nombre/s DB/s</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name=""
                       id="" value="" />
              </div>
              <label class="col-sm-2 control-label" for="textinput">Encoding</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name=""
g                       id="" value="" />
              </div>
            </div>

            
            <div class="form-group">
              <label class="col-sm-2 control-label" for="textinput">Usuario owner</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name=""
                       id="" value="" />
              </div>
              <label class="col-sm-2 control-label" for="textinput">Usuarios de acceso</label>
              <div class="col-sm-4">
                <input class="form-control" type="text" name=""
                       id="" value="" />
              </div>
            </div>



	    
            <div class="form-group">
              <label for="descripcion" class="col-sm-2 control-label">Observaciones</label>
              <div class="col-sm-10">
                <textarea class="form-control" rows="3"  name="observaciones"
                          id="observaciones"></textarea>
              </div>
            </div>


            
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Siguiente</button>
              </div>
            </div>
            
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>




{% endblock %}
