{% extends "base.html" %}

{% block content %}

{% include '_errors_form.html' %}

<div class="bs-docs-section">
  <br \><br \><br \>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">Envío de solicitud</h3>
            </div>
            <div class="panel-body"> {{ msg|safe }} message! </div>
            <div class="panel-body">
              <a href="{% url 'new' %}" class="alert-link">Realizar una nueva solicitud</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
