{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% include '_errors_form.html' %}



<div class="bs-docs-section">
  <br \><br \><br \>
    
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-component">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Envío de solicitud</h3>
            </div>
            <div class="panel-body"> {{ msg|safe }} </div>
            <div class="panel-body">
              <a href="{{ link_to_new_application }}" class="alert-link">
                Realizar una nueva solicitud
              </a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>
              <a href="{{ link_to_application }}" TARGET="_blank"
                 class="alert-link" >Imprimir Solicitud</a></strong>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


{% endblock %}
