{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load application %}
{% block content %}

<br>
<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="active">
          <th>{{ _('Project') }}</th>
          <th>{{ _('Received_application') }}</th>
          <th>{{ _('Related_ticket') }}</th>
          <th>{{ _('Created_at') }}</th>
          <th>{{ _('Signature_date') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if productions %}
        {% for production in productions %}
        <tr>
          <td><a href="{% url 'production_show' pk=production.pk %}" >
              {{ production.proyect.name|default:'' }}<a/>
          </td>
          <td>{{ production.received_application|boolean_icon }} </td>
          <td>{{ production.related_ticket|default:'' }} </td>
          <td>{{ production.created_at|date:'d-m-Y, H:i'|default:'' }} </td>
          <td>{{ production.signature_date|date:'d-m-Y, H:i'|default:'' }} </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan='6'>{{ _('withouth_results') }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

